.navigation {
  height: 100%;
  background-color: var(--bg-color-second);

  font-size: 0.75rem;
  color: var(--text-color-menu);

}
.navigation-main__menu{
  margin-bottom: 4px;
}

.navigation-main__menu-title > div > p,
.navigation-pages__user > div > p {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.navigation-icon__expand-more > .icon-expend {
  width: 25px;
  height: 25px;
  fill: var(--text-color-menu);
  transition: rotate 0.2s ease;
}

.navigation-icon__expand-more > .icon-expend.hidden {
  rotate: -90deg;
}

.navigation-ul {
  margin-top: 8px;
  margin-left: 8px;
  list-style: none;
}

.navigation-ul__li {
  margin-bottom: 4px;

  font-weight: 500;
  font-size: 14px;
}

.navigation-ul__li-link {
  transition: color .2s ease-in-out;
}

.navigation-ul__li-link.active{
  background-color: var(--bg-color-main);
  color: var(--text-color-menu-active);
  box-shadow: 0px 1px 4px 0 var(--shadow-color);
  transition: background-color .2s ease-in;
}

.navigation-ul__li-link:hover {
  color: var(--text-color-menu-active);
}

.navigation-main__menu-items__item-text {
  margin-left: 6px;
}

.navigation-main__menu-items__item-icon .menu-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
