@import url("./p.css"); /* PADDING */
@import url("./m.css"); /* MARGIN */
@import url("./w.css"); /* WIDTH */
@import url("./border.css"); /* BORDER */


/* DISPLAY */
.flex {
  display: flex;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

/* FLEX CONTENT */
.content-center {
  align-items: center;
}

.content-start {
  align-items: start;
}

.content-end {
  align-items: end;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

/* CURSOR */
.cursor-pointer{
  cursor: pointer;
}

.cursor-default{
  cursor: default;
}