.sidebar {
  height: 100%;
  background-color: var(--bg-color-second) ;

  font-size: 0.75rem;
  color: var(--text-color-menu);
} 
.sidebar-main{
  margin-bottom: 4px;
}

.sidebar-menu__items > div > p{
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.sidebar-icon__expand-more > .icon-expend {
  width: 25px;
  height: 25px;
  fill: var(--text-color-menu);
  transition: rotate 0.2s ease;
}

.sidebar-icon__expand-more > .icon-expend.hidden {
  rotate: -90deg;
}

.sidebar-ul {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  list-style: none;
}

.sidebar-ul__li {
  margin-bottom: 4px;

  font-weight: 500;
  font-size: 14px;
}

.sidebar-ul__li-link {
  transition: all .5s ease-in-out;
}

.sidebar-ul__li-link.active{
  background-color: var(--bg-color-main);
  color: var(--text-color-menu-active);
  box-shadow: 0px 1px 4px 0 var(--shadow-color);
}

.sidebar-ul__li-link:hover {
  color: var(--text-color-menu-active);
}

.sidebar-items__item-text {
  margin-left: 6px;
}

.sidebar .menu-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}